#application.yml in api-gateway
spring:
  application:
    name: api-gateway

  security:
    oauth2:
      client:
        registration:
          gateway-client:
            provider: auth-server
            client-id: gateway-client
            client-secret: gateway-secret
            client-authentication-method: client_secret_basic
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/gateway-client"
            scope: openid
        provider:
          auth-server:
            issuer-uri: http://localhost:9000
            authorization-uri: http://localhost:9000/oauth2/authorize
            token-uri: http://localhost:9000/oauth2/token
            user-name-attribute: sub
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9000

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: nextjs
              uri: http://localhost:3000
              predicates:
                - Path=/,/_next/**,/favicon.ico,/static/**, /dashboard/**

            - id: product-service
              uri: lb://PRODUCT-SERVICE
              predicates:
                - Path=/products/**
              filters:
                - TokenRelay

            - id: category-service
              uri: lb://CATEGORY-SERVICE
              predicates:
                - Path=/categories/**
              filters:
                - TokenRelay
          discovery:
            locator:
              lower-case-service-id: true
              enabled: false
          default-filters:
            - SaveSession
            - TokenRelay
#      globalcors:
#        corsConfigurations:
#          '[/**]':
#            allowedOrigins: "http://localhost:3000"
#            allowedMethods:
#              - GET
#              - POST
#              - PUT
#              - DELETE
#            allowCredentials: true


server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: gateway,health,info,circuitbreakers

  endpoint:
    gateway:
      access: read_only


resilience4j:
  circuitbreaker:
    instances:
      userServiceCB:
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3





